name: Build
on: [push]
jobs:
  build:
    strategy:
      matrix:
        # os: [windows-large, linux-large]
        os: [linux-large]
        addrsize: ["64"]
        # include:
        #   - os: macos
        #     tag: self-hosted
        #     addrsize: "64"
    continue-on-error: true
    runs-on: ${{ matrix.os }}
    timeout-minutes: 900
    steps:
      - uses: secondlife/action-autobuild@v3
        with:
          addrsize: ${{ matrix.addrsize }}
  release:
    needs: build
    runs-on: [ubuntu-latest]
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: secondlife/action-autobuild-release@v2
